/* Global Variables */
$fontColor: #404040;
$linkColor: #4554ca;
$linkHoverColor: #8c94d8;

$blue: #003a5c;
$green: #81ca9b;
$purple: #9ea7b8;
$blueLight: #9ea7b8;
$white: #fff;
$black: #000;
$grayLight: #ebebeb;

$alertColor: #eee45b;
$successColor: rgb(72, 196, 55);
$failColor: rgb(211, 54, 54);

$borderColor: #DDD;
 
$site-width: 1200px;

/* Prefabricated CSS. Classes are based on consistent use. */
@import "prefab/style-prefabs";

/* Border Box Box Sizing */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// siteWidth mixin is in prefabs
.widthHolder{
  @include siteWidth;
}

/* Typography: Handles the way fonts look. Also handles bottom margin of text. */
@import "import/style-typography";

/* Header CSS. Includes Search bar CSS as well. */
@import "import/style-header";

/* Content area CSS (Post and Page). Includes Sidebar and Homepage/Archive/Search/Comment CSS as well. */
@import "import/style-content";

/* Footer CSS */
@import "import/style-footer";

/* Reset CSS for Posts */
@import "import/style-resets";

/* Custom Toast Plugin CSS */
@import "extra/toast";

/* Slick Slider CSS. Be sure to uncomment this and the enqueue script + style in functions.php */
@import "extra/slick";
@import "extra/slick-theme";

/* Mobile CSS */
@import "import/style-mobile";