.site-footer{
    .site-info {
        padding: 30px;
        background: $grayLight;

        display: flex;
        align-content: center;
        justify-content: space-around;
        text-align: center;
        
        h3 {
            font-weight: normal;
            text-transform: uppercase;
            font-size: 100%;
            color: $blue;
        }
        div {
            flex-basis: calc(100% / 3);
            align-self: center;
        }
    }
}