.mobile-nav-button{
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  overflow-y: auto;
  overflow-x: hidden;

  span{
    display: block;
    width: 100%;
    height: 5px;
    background: $fontColor;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s all cubic-bezier(0.68, -0.55, 0.27, 1.55);
    position: absolute;
    left: 0;
  }

  span:nth-child(1){
    top: 4px;
  }

  span:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
  }

  span:nth-child(3){
    bottom: 4px;
  }

  &.active-nav{
    span{
        background: #FFF;
    }

    span:nth-child(1){
      top: 0;
      transform: rotate(45deg) translate(9px, 9px);
    }

    span:nth-child(2){
      opacity: 0;
      transform: translate(-10px, -50%);
    }

    span:nth-child(3){
      transform: rotate(-45deg) translate(9px,-8px);
      bottom: 0;
    }
  }
}

@media screen and (max-width: 1040px){
    
}

@media screen and (max-width: 767px){
    
}

@media screen and (max-width: 640px){
    .desktop{
        display: none!important;
    }

    .mobile{
        display: block!important;
    }

    .mobile-nav-button{
        display: block;
        z-index: 100;

        &.active-nav{
            position: fixed;
        }
    }

    .main-navigation{
        position: fixed;
        top: 0;
        right: -201px;
        padding-top: 50px;
        background: #4e4e4e;
        height: 100vh;
        border-left: 1px solid #383838;
        z-index: 99;
        transition: 0.25s all;

        li{
            float: none;
            border-bottom: 1px solid #000;
        }

        li, a{
            color: #FFF;
            width: 200px;
        }

        a{
            padding: 10px 20px;
        }

        &.active-main{
            right: 0;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
        }
    }
}

@media screen and (max-width: 600px){
    //Reset for Mobile Admin bar
    body{
        position: initial;
    }
}

@media screen and (max-width: 400px){
    
}