.desktop{
    display: block!important;
}

.mobile{
    display: none!important;
}

.content-area{
    @include siteWidth;
}

.splash{
    //Uncomment if splash needs text on it.
    //@include floatingSplash

    img{
        width: 100%;
        height: auto;
        display: block;
    }

    //.text params are in ../prefab/style-prefabs
}

.button{
    @include buttonHover;
}

.widget-area{
    padding: 10px;
}

.bottom {
    h1 {
        text-transform: uppercase;
        text-align: center;
        font-weight: normal;
        font-size: 1.5em;
    }
}

.bottom-squares {
    text-align: center;
    display: flex;
    flex-basis: center;
    justify-content: center;
    color: #fff;
    span {
        font-weight:bold;
        font-size: 2em;
        display: block;
    }

    img {
        width: 80px;
        margin: 10px;
    }

    &-child {
        margin: 10px;
        padding: 40px;

        &:nth-child(1) {
            background-color: $green;
        }
        &:nth-child(2) {
            background-color: $purple;
        }
        &:nth-child(3) {
            background-color: $blueLight;
        }
    }
}

.slide {
    position: relative;
    img {
        width: 100%;
        z-index: 1;
    }

    &-text {
        text-shadow: 2px 2px 10px $black;
        text-align: center;
        position: absolute;
        color: $white;
        z-index: 2;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        h1 {
            font-size: 3em;
        }
        p {
            font-size: 1.5em;
            margin-top: -20px;
        }
    }
}
