//Uncomment if header is on top of splash
/* body{
    position: relative;
} */

.site-header{
    
    
    @include siteWidth;
    //Uncomment if header needs to be on top of splash
    //@include floatingHeader
    
   
}


.site-branding {
    display: flex;
    align-content: center;
    justify-content: space-between;

    logo {
        align-self: center;
    }

    .social {
        align-self: center;

        img {
            margin: 0 5px;
            border-radius: 5px;
        }
    }
}

.main-navigation{
    background: $blue;
    ul{
        margin: 0;
        padding: 0;
        overflow: auto;
        list-style: none;
        display: flex;
        flex-direction: reverse;
        justify-content: flex-end;
        margin-right: 8%;
    }

    li{
        transition: 0.2s;
        &:hover {
            background-color: lighten($blue, 10%);
        }

        &:last-of-type {
            background-color: $green;
            &:hover {
                background-color: lighten($green, 10%);
            }
        }
    }

    a{
        display: block;
        padding: 20px 20px;
        color:#fff;

       
    }
}